{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="py-4">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
            <li class="breadcrumb-item"><a href="/dashboard.html"><span class="fas fa-home"></span></a></li>
            <li class="breadcrumb-item" aria-current="page"><a href="/outbound.html">Send OA information to WMS</a></li>
            <li class="breadcrumb-item active" aria-current="page">OA Details</li>
        </ol>
    </nav>
    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <h1 class="h4">OA Details</h1>
            <!-- <p class="mb-0">For OA number: {{ oa_number }}</p>
            <p class="mb-0">Detail: {{ details }}</p>
            <p class="mb-0">{{ message }}</p> -->
        </div>
    </div>

    <div class="d-flex justify-content-between w-100 flex-wrap">
        <div class="mb-3 mb-lg-0">
            <p class="mb-0">Information for OA number: {{ oa_number }}</p>
            {% if error is not none and message is none %}
            <p class="mb-0 text-danger">{{ error }}</p>
            {% elif error is none and message is not none and message is defined %}
            <p class="mb-0 text-success">Information Send to WMS Successful</p>
            {{ message }}
            {% if order_code is not none and order_code is defined %}
            {{ order_code }}
            {% endif %}
            {% endif %}
        </div>
    </div>
    {% if detail_one is defined and detail_one is not none%}
    <div class="card border-light shadow-sm my-4 w-75">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <tbody>
                        <tr>
                            <td class="border-0 w-50"><b>OA Name</b></td>
                            <td class="border-0"> {{ detail_one.requestname }} </td>
                        </tr>
                        <tr>
                            <td class="border-0 w-50"><b>OA Number</b></td>
                            <td class="border-0"> {{ detail_one.AdjReqNum }} </td>
                        </tr>
                        <tr>
                            <td class="border-0"><b>OA Date</b></td>
                            <td class="border-0"> {{ detail_one.AdjReqDate }} </td>
                        </tr>
                        <tr>
                            <td class="border-0"><b>Customer Name</b></td>
                            <td class="border-0"> {{ detail_one.KHMC }} </td>
                        </tr>
                        <tr>
                            <td class="border-0"><b>Customer ID</b></td>
                            <td class="border-0"> {{ detail_one.CustID }} </td>
                        </tr>
                        <tr>
                            <td class="border-0"><b>PO Number</b></td>
                            <td class="border-0"> {{ detail_one.KHPOH }} </td>
                        </tr>
                        <tr>
                            <td class="border-0"><b>Ship Address</b></td>
                            <td class="border-0"> {{ detail_one.ShipAdress }} </td>
                        </tr>
                        <tr>
                            <td class="border-0"><b>Contact Ppl</b></td>
                            <td class="border-0"> {{ detail_one.ShipConPer }} </td>
                        </tr>
                        <tr>
                            <td class="border-0"><b>Phone</b></td>
                            <td class="border-0"> {{ detail_one.ShipPhone }} </td>
                        </tr>
                        <!-- End of Item -->
                    </tbody>
                </table>
                <hr>
                <table class="table table-centered table-nowrap mb-0 rounded">
                    <thead class="thead-ligh">
                        <tr>
                            <th class="border-0 w-50">Item Name</th>
                            <th class="border-0">Item Code</th>
                            <th class="border-0">Quantity</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for detail in details %}
                        <tr>
                            <td class="border-0 w-50"> {{ detail.PartDesc }} </td>
                            <td class="border-0"> {{ detail.PartNum }} </td>
                            <td class="border-0"> {{ detail.SellingQuantity }} </td>
                        </tr>
                        {% endfor %}
                        <!-- End of Item -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- <div>
            <a href="https://themesberg.com/docs/volt-bootstrap-5-dashboard/components/forms/" class="btn btn-outline-gray"><i class="far fa-question-circle me-1"></i> Forms Docs</a>
        </div> -->
    {% endif %}
</div>
{% if error is not none %}
<div class="form-group mb-4">
    <div class="input-group">
        <span class="input-group-text text-danger" id="basic-addon1">&nbsp;&nbsp;&nbsp; Please Check Your Information
            And
            Try Again.</span>
        <button type="submit" name="send" class="btn btn-dark" onclick='location.href=("/outbound.html")' />Go
        Back</button>
    </div>
</div>
{% elif message is defined and message is not none %}
<div class="form-group mb-4">
    <div class="input-group">
        <span class="input-group-text text-success" id="basic-addon1">&nbsp;&nbsp;&nbsp; Send to WMS successful.</span>
        <button type="submit" name="send" class="btn btn-dark" onclick='location.href=("/outbound.html")' />Go
        Back</button>
    </div>
</div>

{% else %}
<form method="post" action="/outbound/{{ oa_number }}/send" class="mt-4 ml-5" id="outbound">
    <!-- Form -->
    <div class="form-group my-4">
        <h1 class="h4">Additional Information</h1>
        <div class="mb-3">
            <span class="input-group-text" id="basic-addon1" style="display: inline!important;"><span
                    class="fas fa-globe-europe"></span></span>
            <select class="form-select w-auto" name="oa_country" style="display: inline!important;margin-left:-5px">
                <option selected>Select Destination Country</option>
                <option value="FR">FR [FRANCE 法国]</option>
                <option value="DE">DE [GERMANY 德国]</option>
                <option value="NL">NL [NETHERLANDS 荷兰]</option>
            </select>
        </div>
    </div>
    <div class="form-group my-4">
        <div class="mb-3">
            <span class="input-group-text" id="basic-addon1" style="display: inline!important;"><span
                    class="fas fa-truck"></span></span>
            <select class="form-select w-auto" name="oa_shipmethod" style="display: inline !important;margin-left:-5px">
                <option selected value="UPS_DELIVERY">Select Shipping Method(UPS STARDARD by default)</option>
                <option value="APEXDELIVERY">APEXDELIVERY[自送]</option>
                <option value="CLIENTPICKUP">CLIENTPICKUP</option>
                <option value="CTS_GROUP">CTS 派送</option>
                <option value="PGL_DELIVERY">PGL DELIVERY[香港流浮山仓库配送]</option>
                <option value="UPS_DELIVERY">UPS STARDARD</option>
                <option value="UPS_EXPRESS">UPS EXPRESS</option>
            </select>
        </div>
    </div>
    <div class="form-group my-4 w-50">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><span class="fas fa-comment-dots"></span></span>
            <input type="text" class="me-sm-1 mb-sm-0 form-control" placeholder="Order Remarks(optional)"
                name="oa_remark">
        </div>
    </div>
    <div class="form-group mb-4">
        <div class="input-group">
            <span class="input-group-text" id="basic-addon1"><input type="checkbox" name="cb"
                    id="check_to_send_to_wms">&nbsp;&nbsp;&nbsp; I confirm that all details above are all
                correct.</span>
            <button disabled id="send_to_wms" type="submit" name="send" class="btn btn-dark"/>Send to WMS</button>
        </div>
    </div>
</form>
{% endif %}
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}